@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Thicccboi';
    src: url('../fonts/THICCCBOI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thicccboi';
    src: url('../fonts/THICCCBOI-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thicccboi';
    src: url('../fonts/THICCCBOI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body[theme=light] {
    --main-color: #eb561f;
    --secondary-color: #e26600;

    --background-color: white;
    --foreground-color: black;
    --layer1-gray: #F5F5F5;
    --layer2-gray: #E7E7E7;
    --layer3-gray: #d6d6d6;
    --layer4-gray: #7A7A7A;
    --btn-hover: #f6e3dd;

    --cat1-front-color: #E36D00;
    --cat1-back-color: #E36D0030;

    --cat2-front-color: #afa001;
    --cat2-back-color: #afa00130;

    --cat3-front-color: #03cb00;
    --cat3-back-color: #03cb0030;

    --cat4-front-color: #00b454;
    --cat4-back-color: #00b45430;

    --cat5-front-color: #0094D3;
    --cat5-back-color: #0094D330;

    --cat6-front-color: #0030D8;
    --cat6-back-color: #0030D830;

    --cat7-front-color: #8200E9;
    --cat7-back-color: #8200E930;

    --star-color: var(--main-color);
    --star-background-color: #eb561f60;

    --shadow: rgba(0, 0, 0, 0.05);
}

body[theme=dark] {
    --main-color: #FF6C37;
    --secondary-color: #ff9137;

    --background-color: #212121;
    --foreground-color: white;
    --layer1-gray: #2a2a2a;
    --layer2-gray: #313131;
    --layer3-gray: #414141;
    --layer4-gray: #acacac;
    --btn-hover: #45322c;

    --cat1-front-color: #FFBA7A;
    --cat1-back-color: #FFBA7A30;

    --cat2-front-color: #FCFF7A;
    --cat2-back-color: #FCFF7A30;

    --cat3-front-color: #ADFF7A;
    --cat3-back-color: #ADFF7A30;

    --cat4-front-color: #7AFFB7;
    --cat4-back-color: #7AFFB730;

    --cat5-front-color: #7AD7FF;
    --cat5-back-color: #7AD7FF30;

    --cat6-front-color: #7A97FF;
    --cat6-back-color: #7A97FF30;

    --cat7-front-color: #C57AFF;
    --cat7-back-color: #C57AFF30;

    --star-color: var(--main-color);
    --star-background-color: #FF6C3780;

    --shadow: rgba(0, 0, 0, 0.3);
}

body {
    --main-trans: 200ms;

    color: var(--foreground-color);
    background-color: var(--background-color);
}

* {
    font-family: 'Roboto';
    font-size: 0.95rem;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition-timing-function: ease;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: var(--background-color);
    background-color: var(--main-color);
}

/* #region elements styling */
.container {
    margin: 0 3rem;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

input {
    color: var(--foreground-color);
    padding: 0.75rem 1.25rem;
    border-color: var(--layer3-gray);
}

input[type=search] {
    background-color: transparent;
    caret-color: var(--main-color);
}

.text-gradiant {
    background-image: linear-gradient(45deg, var(--main-color) 60%, var(--secondary-color));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
}

.el,
.el * {
    font-family: 'Thicccboi';
}

button {
    all: unset;
}

button,
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gray-el,
.main-el {
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
}

.gray-el {
    background-color: var(--layer1-gray);
    stroke: var(--layer4-gray);
    color: var(--layer4-gray);
    border: var(--layer3-gray) solid 1px;
}

button.gray-el,
.btn.gray-el,
.hoverable-gray-el {
    transition: var(--main-trans);
}

button.gray-el:hover,
.btn.gray-el:hover,
.hoverable-gray-el:hover {
    color: var(--main-color);
    stroke: var(--main-color) !important;
    border-color: var(--main-color) !important;
    background-color: var(--btn-hover);
}

.main-el {
    color: var(--background-color);
    background-color: var(--main-color);
    border: transparent solid 1px;
    font-weight: 600;
    transition: var(--main-trans);
}

.btn.main-el:hover,
button.main-el:hover {
    color: var(--main-color);
    background-color: var(--background-color);
    border: var(--main-color) solid 1px;
}

.circle {
    background-color: var(--foreground-color);
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 99rem;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: 1.75rem;
    line-height: 1;
}

.stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg,
            var(--star-color) var(--percent),
            var(--star-background-color) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

svg>* {
    stroke: inherit;
}

kbd {
    font-weight: 900;
    color: #FF6C37;
    background-color: #ff6c3728;
    padding: 8px 10px;
    border-radius: 8px;
    border: #FF6C37 solid 1px;
    box-shadow: #FF6C37 0 0 5px 0px;
}

/* #endregion */

/* #region header & main-nav styling */

header>.container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    user-select: none;
    padding: 1.25rem 0;
    z-index: 102;
}

header,
nav#main-nav {
    border-bottom: var(--layer3-gray) solid 1px;
}

nav#main-nav .hscroll>div {
    gap: 1rem;
    height: 3rem;
}

nav#main-nav {
    position: fixed;
    top: 5.065789rem;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;
}

#header-displacement {
    height: 8.1315789rem;
}

@media (max-width:620px) {
    nav#main-nav {
        display: none;
    }

    #header-displacement {
        height: 5.0657894rem;
    }
}

/* #endregion */

/* #region hscroll styling */
.hscroll {
    overflow-x: clip;
    position: relative;
    user-select: none;
}

.hscroll::before,
.hscroll::after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 5%;
    z-index: 100;
}

.hscroll.left-shadow::before {
    left: 0;
    background-image: linear-gradient(to right, var(--background-color), transparent);
}

.hscroll.right-shadow::after {
    right: 0;
    background-image: linear-gradient(to left, var(--background-color), transparent);
}

.hscroll>div {
    display: flex;
    align-items: center;
    width: max-content;
    transition: var(--main-trans);
}

/* #endregion*/

/* #region dropdown styling */
.dropdown {
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown .head {
    font-size: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown:hover,
.dropdown.opened {
    color: var(--main-color);
    transition: var(--main-trans);
}

.dropdown .arrow {
    transition: transform var(--main-trans);
}

.dropdown.opened .arrow {
    transform: rotate(180deg);
}

.dropdown .list {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 1.5rem;
    width: 100%;
    transition: padding 0ms var(--main-trans), visibility 0ms var(--main-trans);
}

.dropdown.opened .list {
    visibility: visible;
    padding-top: 2rem;
    transition: padding 0ms, visibility 0ms;
}

.dropdown .list>div {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding-top: 0;
    padding-bottom: 0;
    transition: transform var(--main-trans);
    transform-origin: top left;
    transform: scale(0);
}

.dropdown.opened .list>div {
    transform: scale(1);
}

.dropdown .list>div>* {
    padding: 1rem 0;
    border-bottom: var(--layer3-gray) solid 1px;
}

.dropdown .list>div> :first-child {
    margin-top: 0.5rem;
}

.dropdown .list>div> :last-child {
    margin-bottom: 0.5rem;
    border: none;
}

/* #endregion */

/* #region folddown styling */
.folddown {
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    position: relative;
}

.folddown .head {
    font-size: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.folddown:hover {
    color: var(--main-color);
    transition: var(--main-trans);
}

.folddown .arrow {
    transition: transform var(--main-trans);
}

.folddown.opened .arrow {
    transform: rotate(180deg);
}

.folddown .list {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow-y: clip;
    padding: 0 0 0 0.75rem;
    max-height: 0;
    height: fit-content;
    transition: max-height var(--main-trans);
}

.folddown.opened .list {
    visibility: visible;
    max-height: 30rem;
}

.folddown .list>* {
    color: var(--layer4-gray);
    padding: 0.5rem 0;
}

.folddown .list> :first-child {
    margin-top: 0.75rem;
}

/* #endregion */

/* #region logo styling */
.logo {
    display: flex;
    align-items: center;
    stroke: var(--main-color);
}

.logo>svg {
    margin-left: -5px;
}

.logo>h1 {
    margin-left: 0.25rem;
}

.logo>span {
    display: none;
}

@media (max-width:340px) {
    .logo>h1 {
        display: none;
    }

    .logo>span {
        display: inline-block;
        font-weight: 600;
        font-size: 1.75rem;
    }
}

/* #endregion */

/* #region search-box styling */
#search-box {
    padding: 0.6rem 1.25rem;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: min(calc(100vw - 35rem), 40rem);
    height: 2.5rem;
    transition: var(--main-trans);
}

#search-box.opened {
    background-color: var(--background-color);
    width: min(calc(100vw - 35rem), 51rem);
    height: 30rem;
    box-shadow: 0 0.2rem 0.4rem 0.05rem var(--shadow);
    border: var(--layer3-gray) solid 1px;
    left: 50%;
    transform: translateX(-50%);
}

#search-box #search-icon {
    position: absolute;
    left: 1.1rem;
    top: 0.5rem;
    transition-duration: var(--main-trans);
    cursor: pointer;
}

#search-box input[type=search] {
    width: 100%;
    padding: 0;
    padding-left: 1.85rem;
    transition-duration: var(--main-trans);
}

#search-box input[type=search]:focus {
    font-size: 1.1rem;
    padding: 0.25rem 0 0.75rem 2.25rem;
    border-bottom: var(--layer3-gray) solid 1px;
}

#search-box input[type=search]:focus~#search-icon {
    left: 1.5rem;
    top: 0.85rem;
}

@media (max-width:1044px) {
    #search-box.opened {
        width: calc(100vw - 6rem);
        height: 30rem;
        box-shadow: 0 0.2rem 0.4rem 0.05rem var(--shadow);
        border: var(--layer3-gray) solid 1px;
    }
}

@media (max-width:870px) {
    #search-box {
        width: 3rem;
        left: calc(100% - 15.25rem);
    }

    #search-box #search-icon {
        left: 0.75rem;
    }
}

@media (max-width:620px) {
    #search-box {
        width: 10rem;
        left: calc(100% - 8.25rem);
    }

    #search-box input[type=search] {
        padding-left: 1.25rem;
    }

    #search-box.opened {
        width: calc(100vw - 3rem);
    }
}

@media (max-width:520px) {
    #search-box {
        width: 3rem;
        left: 100%;
        transform: translateX(-100%);
    }

    #search-box.opened {
        width: calc(100vw - 2rem);
    }
}

/* #endregion */

/* #region menu-bar styling */
#menu-bar {
    display: none;
    width: 2rem;
    height: 1.5rem;
    margin: 0.5rem 0;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}

#menu-bar>div {
    height: 2px;
    width: 100%;
    background-color: var(--foreground-color);
    position: absolute;
    transform-origin: center;
}

#menu-bar>div:first-child {
    top: 0;
}

#menu-bar>div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity var(--main-trans);
}

#menu-bar>div:last-child {
    top: 100%;
    transform: translateY(-100%);
}

#menu-bar>div:first-child,
#menu-bar>div:last-child {
    transition: top calc(var(--main-trans) * 0.5) calc(var(--main-trans) * 0.5), transform calc(var(--main-trans) * 0.5);
}

#menu-bar.opened>div {
    transform: translateY(-50%);
}

#menu-bar.opened>div:first-child,
#menu-bar.opened>div:last-child {
    transition: top calc(var(--main-trans) * 0.5), transform calc(var(--main-trans) * 0.5) calc(var(--main-trans) * 0.5);
}

#menu-bar.opened>div:first-child,
#menu-bar.opened>div:last-child {
    top: 50%;
}

#menu-bar.opened>div:first-child {
    transform: rotate(45deg);
}

#menu-bar.opened>div:last-child {
    transform: rotate(-45deg);
}

#menu-bar.opened>div:nth-child(2) {
    opacity: 0;
}

@media (max-width:620px) {
    #menu-bar {
        display: block;
    }
}

@media (max-width:520px) {
    #menu-bar {
        left: calc(100% - 6rem);
        transform: unset;
    }
}

/* #endregion */

/* #region menu styling */
#menu {
    user-select: none;
    position: fixed;
    top: 5.065789rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 6rem);
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 1rem 0 0;
    overflow: hidden;
    transition-duration: calc(var(--main-trans)*2);
    transition-property: height;
    z-index: 101;
}

#menu>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 7rem);
    padding: 0.5rem 0.25rem;
    overflow: auto;
}

#menu.opened {
    height: calc(100vh - 7rem);
}

#menu nav {
    display: flex;
    flex-direction: column;
}

#menu nav>* {
    font-size: larger;
    padding: 1rem 0;
    border-bottom: var(--layer3-gray) solid 1px;
}

#menu .btn,
#menu button {
    font-size: larger;
    margin-bottom: 1rem;
    padding: 0.75rem;
}

#menu .btn:first-child {
    margin-top: 2rem;
}

@media (min-width:620px) {
    #menu {
        display: none !important;
    }
}

@media (max-width:620px) {
    #menu {
        width: calc(100vw - 3rem);
    }
}

@media (max-width:520px) {
    #menu {
        width: calc(100vw - 2rem);
    }
}

/* #endregion */

/* #region header-btns styling */
#header-btns {
    display: flex;
}

@media (max-width:620px) {
    #header-btns {
        display: none;
    }
}

/* #endregion */

/* #region theme-changer styling */
.theme-changer {
    user-select: none;
}

#header-btns .theme-changer {
    border-radius: 2rem 0 0 2rem;
    padding: 0 1.5rem 0 0.65rem;
    margin-right: -1.25rem;
    transition-duration: 100ms;
    transition-property: padding;
}

body[theme=light] .theme-changer>svg:last-of-type {
    display: none;
}

body[theme=light] .theme-changer>svg:first-of-type {
    display: block;
}

body[theme=dark] .theme-changer>svg:first-of-type {
    display: none;
}

body[theme=dark] .theme-changer>svg:last-of-type {
    display: block;
}

.switching {
    padding-right: 2rem !important;
}

/* #endregion */

/* #region rounded-sides styling */
.rounded-sides {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    overflow: hidden;
}

.rounded-sides separator {
    background-color: var(--background-color);
    width: 1px;
    margin: 0.5rem 0;
}

.rounded-sides>* {
    border-radius: 0;
}

.rounded-sides> :first-child {
    border-radius: 2rem 0 0 2rem;
}

.rounded-sides> :last-child {
    border-radius: 0 2rem 2rem 0;
}

/* #endregion */

/* #region tags styling */
.tag {
    font-size: 12px;
    position: relative;
    padding: 3px 5px;
    padding-left: 10px;
    border-radius: 5px;
}

.tag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 3px;
}

.tag.bs {
    background-color: #FF6C3733;
    color: #FF6C37;
}

.tag.bs::before {
    background-color: #FF6C37;
}

.tag.ec {
    background-color: #49DD0433;
    color: #49DD04;
}

.tag.ec::before {
    background-color: #49DD04;
}

.tag.po {
    background-color: #FF000033;
    color: #FF0000;
}

.tag.po::before {
    background-color: #FF0000;
}

.tag.aw {
    background-color: #42BBFF33;
    color: #42BBFF;
}

.tag.aw::before {
    background-color: #42BBFF;
}

/* #endregion */

/* #region slider styling */
.slider {
    border-radius: 1.2rem;
    overflow: clip;
    position: relative;
}

.slider>.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: left var(--main-trans);
}

.slider>.content>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.slider>.dots {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider>.dots>div {
    background-color: var(--background-color);
    border: var(--layer3-gray) 1px solid;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 999rem;
    opacity: 0.5;
}

.slider>.dots>.curr-dot {
    opacity: 1;
}

/* #endregion */

/* #region landing-slider styling */
#landing-slider {
    height: 30rem;
}

#landing-slider>.content>div {
    background-image: url(../imgs/landing-slider-image.png);
}

@media (max-width:800px) {
    #landing-slider {
        height: 20rem;
    }
}

@media (max-width:620px) {
    #landing-slider {
        height: 15rem;
    }

    #landing-slider>.content>div {
        background-image: url(../imgs/landing-slider-mobile-image.png);
    }
}

/* #endregion */

/* #region left & right arrow styling */
.left-arrow,
.right-arrow {
    background-color: var(--background-color);
    border-radius: 999rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    box-shadow: 0 0.4rem 1.2rem 0.05rem var(--shadow);
    top: 50%;
}

.left-arrow {
    left: calc(1rem + 1%);
}

.left-arrow svg {
    transform: rotate(90deg);
}

.right-arrow {
    right: calc(1rem + 1%);
}

.right-arrow svg {
    transform: rotate(-90deg);
}

@media (max-width:620px) {

    .left-arrow,
    .right-arrow {
        width: 3rem;
        height: 3rem;
    }
}

/* #endregion */

/* #region location-slot styling */
#location-slot {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#location-slot>#location-prefix {
    color: var(--layer4-gray);
}

#location-slot>.circle {
    margin: 0 0.65rem;
}

#location-slot>#path>a {
    color: var(--main-color);
}

/* #endregion */

/* #region section styling */
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.section-header>h2 {
    font-size: 1.3rem;
}

.section-header>.btn {
    padding: 0.2rem 0.5rem 0.2rem 1rem;
}

.section-header>.btn>.arrow {
    transform: rotate(-90deg);
}

/* #endregion */

/* #region categories styling */
#categories swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

#categories a {
    font-size: 1.25rem;
    text-align: center;
}

@media (max-width:800px) {
    #categories swiper-slide {
        width: 10rem;
        height: 10rem;
    }

    #categories a {
        font-size: 1.1rem;
    }
}

@media (max-width:620px) {
    #categories swiper-slide {
        width: 8.5rem;
        height: 8.5rem;
    }

    #categories a {
        font-size: 1rem;
    }
}

/* #endregion */

/* #region book styling */
.book {
    width: 15rem;
    border: 1px solid var(--layer3-gray);
    border-radius: 1.2rem;
    overflow: hidden;
}

.book .cover {
    height: 13rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.book .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.book .details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    height: 15rem;
    overflow: auto;
}

.book .tags {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.book .info {
    line-height: 1.3;
}

.book .info>h3 {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

.book .info>span {
    color: var(--layer4-gray);
    font-size: 0.9rem;
}

.book .info>.authour {
    text-decoration: underline;
}

.book .price {
    font-size: 1.2rem;
}

.book .old-price {
    font-size: 1rem;
    color: var(--layer4-gray);
}

.book .format {
    font-size: 0.9rem;
    color: var(--layer4-gray);
}

/* #endregion */

a {
    color: var(--foreground-color);
    text-decoration: none;
    transition: var(--main-trans);
}

a:hover {
    color: var(--main-color);
}

@media (min-width: 1300px) {
    .container {
        max-width: 1210px;
        margin: auto;
    }
}

@media (max-width:620px) {
    .container {
        margin: 0 1.5rem;
    }
}

@media (max-width:520px) {
    .container {
        margin: 0 1rem;
    }
}